article > *:not(.entry-content),
.entry-content > * {
    @apply mx-auto max-w-content;
}

.entry-content, .block-editor-block-list__layout {
    h1 {
        @apply text-4xl;
        @apply mb-8;
        @apply font-bold;
    }

    h2 {
        @apply text-3xl;
        @apply mb-6;
        @apply font-semibold;
    }

    h3 {
        @apply text-lg;
        @apply mb-6;
    }

    p, ul, ol {
        a {
            @apply text-indigo-600 underline;

            &:hover {
                @apply no-underline;
            }
        }

        @apply mb-6;
    }

    ul:not(.block-editor-block-variation-picker__variations) {
        li {
            @apply list-disc list-inside;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }

    /* Some buttons for gutenberg */
    .wp-block-button .wp-element-button, 
    .wp-block-button .wp-block-button__link {
        @apply mt-4 text-center block px-4 py-2 bg-indigo-600 hover:bg-indigo-700 text-white font-bold rounded-md;
    }


    .wp-block-button.is-style-outline .wp-element-button, 
    .wp-block-button.is-style-outline .wp-block-button__link {
        @apply mt-4 text-center block px-4 py-2 bg-white border-indigo-600 hover:bg-indigo-600 hover:text-white text-indigo-600 text-sm font-bold rounded-md;
    }

}

/* Gravity forms */
.gform_button.button,
.gform_button.button.gform-button--width-full,
.gform_next_button.button,
input[type="submit"] {
    cursor: pointer;
    @apply mt-4 text-center block px-4 py-2 bg-indigo-600 hover:bg-indigo-700 text-white text-sm font-bold rounded-md;
}

/* General form inputs */
input:not([type="radio"]):not([type="checkbox"]),
textarea {
    @apply rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0;
}

/* Footer */

footer .widget-title {
    @apply font-medium mb-4;
}
footer p {
    @apply mt-4 mb-4 text-sm text-gray-600;
}
footer img {
    @apply mr-5 w-2/3;
    max-width: 300px;
}
footer ul.menu {
    @apply flex flex-col mt-4 space-y-2 text-sm text-gray-500;
}

.bg-surface-1 {
    background: white;
}